---
layout: default
title: Israel Ribeiro
---

#cover
  .banner
    .avatar {% image avatar.jpg %}
    .title
      h1 Israel Ribeiro
      h2 Programmer at HE:labs

  .footer
   ul
    li
      a href="http://facebook.com/israveri" {% image facebook.png %}
    li
      a href="http://twitter.com/israveri" {% image twitter.png %}
    li
      a href="http://github.com/israveri" {% image github.png %}
    li
      a href="http://www.linkedin.com/profile/view?id=124572366" {% image linkedin.png %}
    li
      a href="mailto:israveri@gmail.com" {% image email.png %}